In [5]:
import pymysql
db=pymysql.connect("localhost","root","muskan","example")
cursor=db.cursor()
cursor.execute("select * from person")
data=cursor.fetchall()
for i in data:
    print (i)

('muskan', 150, 50)
('vipul', 160, 6)
('karan', 155, 55)
('vimal', 166, 66)
('shristi', 157, 56)
('vikram', 169, 69)
('vaishnavi', 153, 52)
('sharad', 164, 52)
('priyanka', 156, 53)
('kapil', 161, 57)