In [1]:
#pandas is for series-----advance version of numpy

import pandas as pd
s=pd.Series()     #empty series
print(s)

Series([], dtype: float64)

In [11]:
import numpy as np

#series by list
a=np.array(['a','c','d','f']);
x=pd.Series(a)                                #DEFAULT INDEX       
print(x)
t=pd.Series(a,index=[100,101,102,103])        #INDEX GIVEN
print(t)

0    a
1    c
2    d
3    f
dtype: object
100    a
101    c
102    d
103    f
dtype: object

In [12]:
#making series using dictionary
b={'A':12,'B':4,'C':7,'D':9}
m=pd.Series(b)                    #default indexing
print(m)
t=pd.Series(b,index=['f','d','B','h'])               #using index
print(t)

A    12
B     4
C     7
D     9
dtype: int64
f    NaN
d    NaN
B    4.0
h    NaN
dtype: float64

In [14]:
#making series using scaler
x=pd.Series(5,index=[0,1,2,3,4])            #index is compulsory for making series from scaler
print(x)

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [19]:
#retrieving elements in series
x=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(x[0])
print(x[:3])
print(x[-3:])

1
a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64

In [23]:
#retrieving elements by index label
print(x['a'])
#   print(x['f'])---->it will give keyerror if index not present

1

In [28]:
#empty dataframe
s=pd.DataFrame()
print(s)

Empty DataFrame
Columns: []
Index: []

In [30]:
#dataframe using list
data=[1,2,3,4,5]
t=pd.DataFrame(data)   #default index and column labels
print(t)

   0
0  1
1  2
2  3
3  4
4  5

In [37]:
#2-d list
data=[['muskan',10],['sharad',12],['karan',5]]
t=pd.DataFrame(data,columns=['Name','Grade'])    #column label
print(t)
t=pd.DataFrame(data,columns=['Name','Grade'],dtype=float)       #dtype using
print(t)

     Name  Grade
0  muskan     10
1  sharad     12
2   karan      5
     Name  Grade
0  muskan   10.0
1  sharad   12.0
2   karan    5.0

In [39]:
#dictionary with dataframe
data={'Name':['tom','jerry','karan','mini','tina'],'Age':[4,5,6,7,8]}
t=pd.DataFrame(data)
print(t)

   Age   Name
0    4    tom
1    5  jerry
2    6  karan
3    7   mini
4    8   tina

In [41]:
#dictionary with dataframe with index
data={'Name':['tom','jerry','karan','mini','tina'],'Age':[4,5,6,7,8]}
t=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4','rank5'])
print(t)

       Age   Name
rank1    4    tom
rank2    5  jerry
rank3    6  karan
rank4    7   mini
rank5    8   tina

In [43]:
#list of dict
data=[{'a':1,'b':2},{'a':3,'b':5,'c':12}]
t=pd.DataFrame(data)
print(t)

   a  b     c
0  1  2   NaN
1  3  5  12.0

In [46]:
data=[{'a':3,'b':12},{'a':6,'b':4}]
t=pd.DataFrame(data,index=['first','second'],columns=['a','b'])
print(t)
t=pd.DataFrame(data,index=['first','second'],columns=['a','b1'])
print(t)

        a   b
first   3  12
second  6   4
        a  b1
first   3 NaN
second  6 NaN

In [48]:
#dict of series
data={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
      'two':pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])}
t=pd.DataFrame(data)
print(t)
print(t['one'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  NaN    5
a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
Name: one, dtype: float64

In [53]:
#adding a column
t['three']=pd.Series([7,2,8,4,9],index=['a','b','c','d','e'])
print(t)
t['four']=pd.Series([1,5,3,6,5],index=['a','b','c','d','e'])
print(t)

   one  two  three  four
a  1.0    1      7     1
b  2.0    2      2     5
c  3.0    3      8     3
d  4.0    4      4     6
e  NaN    5      9     5
   one  two  three  four
a  1.0    1      7     1
b  2.0    2      2     5
c  3.0    3      8     3
d  4.0    4      4     6
e  NaN    5      9     5

In [54]:
#deletion of column
del(t['one'])          #using del
print(t)
t.pop('four')          #using pop
print(t)

   two  three  four
a    1      7     1
b    2      2     5
c    3      8     3
d    4      4     6
e    5      9     5
   two  three
a    1      7
b    2      2
c    3      8
d    4      4
e    5      9