In [2]:
#get_option----gives maximum value of rows and columns in pandas
import pandas as pd
print(pd.get_option("display.max_rows"))
print(pd.get_option("display.max_columns"))

60
20

In [18]:
#indexing and selecting data
#1.---.loc   ----access by label
#2.---.iloc -----access by integer
#3.---.ix ------access by both

x=pd.DataFrame({'x':[1,2,3,4,5,6],'y':[3,6,9,12,15,18],'z':[2,4,6,8,10,12]},index=['A','B','C','D','E','F'])
print(x)
print(x.loc['A'])
print(x.loc['A':'D'])
print(x.iloc[2])
print(x['x'])

print(x.loc['A':'D']['y'])

   x   y   z
A  1   3   2
B  2   6   4
C  3   9   6
D  4  12   8
E  5  15  10
F  6  18  12
x    1
y    3
z    2
Name: A, dtype: int64
   x   y  z
A  1   3  2
B  2   6  4
C  3   9  6
D  4  12  8
x    3
y    9
z    6
Name: C, dtype: int64
A    1
B    2
C    3
D    4
E    5
F    6
Name: x, dtype: int64
A     3
B     6
C     9
D    12
Name: y, dtype: int64

In [21]:
print(x.loc['A']>2)

x    False
y     True
z    False
Name: A, dtype: bool

In [32]:
print(x.iloc[4])
print(x.iloc[:4])
print(x.iloc[-2])
print(x.iloc[1:3,1:2])
print(x.iloc[:,0])

x     5
y    15
z    10
Name: E, dtype: int64
   x   y  z
A  1   3  2
B  2   6  4
C  3   9  6
D  4  12  8
x     5
y    15
z    10
Name: E, dtype: int64
   y
B  6
C  9
A    1
B    2
C    3
D    4
E    5
F    6
Name: x, dtype: int64

In [39]:
print(x.ix[:4])
print(x.ix[2])

   x   y  z
A  1   3  2
B  2   6  4
C  3   9  6
D  4  12  8
x    3
y    9
z    6
Name: C, dtype: int64

In [50]:
print(x['x'])
print(x[['x','z']])
print(x['x'][1:4])

A    1
B    2
C    3
D    4
E    5
F    6
Name: x, dtype: int64
   x   z
A  1   2
B  2   4
C  3   6
D  4   8
E  5  10
F  6  12
B    2
C    3
D    4
Name: x, dtype: int64

In [63]:
#missing data
print(x.isnull())
y=pd.DataFrame({'a':[1,3,5,7,2],'b':[2,5,7,1,4],'c':[2,4,6,8,10]})
print(y)
print(y['b'].isnull())
z=pd.DataFrame([[1,2,3],[4,5,6],[7,2],[1,2,3,4,5]],index=['a','b','c','d'])
print(z)

       x      y      z
A  False  False  False
B  False  False  False
C  False  False  False
D  False  False  False
E  False  False  False
F  False  False  False
   a  b   c
0  1  2   2
1  3  5   4
2  5  7   6
3  7  1   8
4  2  4  10
0    False
1    False
2    False
3    False
4    False
Name: b, dtype: bool
   0  1    2    3    4
a  1  2  3.0  NaN  NaN
b  4  5  6.0  NaN  NaN
c  7  2  NaN  NaN  NaN
d  1  2  3.0  4.0  5.0

In [66]:
z.fillna(0)

   0  1    2    3    4
a  1  2  3.0  0.0  0.0
b  4  5  6.0  0.0  0.0
c  7  2  0.0  0.0  0.0
d  1  2  3.0  4.0  5.0

In [74]:
#pad----fill forward
#backfill----fill backword
print(z.fillna(method='pad'))
print(z)
print(z.fillna(method='backfill'))

   0  1    2    3    4
a  1  2  3.0  NaN  NaN
b  4  5  6.0  NaN  NaN
c  7  2  6.0  NaN  NaN
d  1  2  3.0  4.0  5.0
   0  1    2    3    4
a  1  2  3.0  NaN  NaN
b  4  5  6.0  NaN  NaN
c  7  2  NaN  NaN  NaN
d  1  2  3.0  4.0  5.0
   0  1    2    3    4
a  1  2  3.0  4.0  5.0
b  4  5  6.0  4.0  5.0
c  7  2  3.0  4.0  5.0
d  1  2  3.0  4.0  5.0

In [77]:
#dropna----drop missing values(exclude the row having nan)
print(z.dropna())
print(z.dropna(axis=1))

   0  1    2    3    4
d  1  2  3.0  4.0  5.0
   0  1
a  1  2
b  4  5
c  7  2
d  1  2

In [83]:
print(z)
print(z.replace({1:4,4:2}))

   0  1    2    3    4
a  1  2  3.0  NaN  NaN
b  4  5  6.0  NaN  NaN
c  7  2  NaN  NaN  NaN
d  1  2  3.0  4.0  5.0
   0  1    2    3    4
a  4  2  3.0  NaN  NaN
b  2  5  6.0  NaN  NaN
c  7  2  NaN  NaN  NaN
d  4  2  3.0  2.0  5.0